<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'shared/head' %>
	<title>Edit</title>
</head>
<body>
<%= form_with model: @movie do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :year %>  
    <%= form.text_field :year %>
  </div>
  <div class="field">
    <%= form.label :image_url, "Image URL" %>
    <%= form.text_field :image_url %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :is_showing, "Show" %>
    <%= form.text_field :is_showing %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</body>
</html>